html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
}
.homeContainer{
    height: 800px;
    width: auto;
}
.bodyContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7) url('https://i.pinimg.com/originals/0c/6c/60/0c6c604aeca3fd03de9bc25ab55ba156.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height: 100%;
    width: 100%;
    background-blend-mode: darken;
}
.bodyText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 550px;
    color: rgb(255, 255, 255);
    padding-right: 100px;
    gap: 50px;
}
.bodyText > div:first-child{
    font-size: 52px;
    font-weight: 800;
}
.bodyText > div:nth-child(2){
    font-size: 24px;
    font-weight: 700;
}
.bodyText > div:nth-child(3){
    border:rgb(255, 255, 255) solid  2px;
    color: black;
    background-color: white;
    padding: 10px;
    height: auto;
    width: 200px;
    text-align: center;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 700;
    box-shadow: 2px 2px 2px 2px orange;
}
.bodyText > div:nth-child(3):hover{
    cursor: pointer;
}
.redPotion {
    color: red;
}