@font-face{
    font-family: 'ZeldaFont';
    src: url('../fonts/HyliaSerifBeta-Regular.otf');
}
.finalMsg{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 320px;
    font-size: 42px;
    font-weight: 700;
    font-family: 'ZeldaFont';
    color: rgb(158, 152, 68);
    border: 2px solid rgb(158, 152, 68);
    background-color: rgb(70, 65, 65);

}