@font-face{
    font-family: 'ZeldaFont';
    src: url('../fonts/HyliaSerifBeta-Regular.otf');
}

.header-ui{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding-left: 30px;
    padding-right: 20px;
    height: 80px;
    font-family: 'ZeldaFont';
}
.header-links{
    display: flex;
    font-size: 18px;
}
.header-ui:first-child{
    font-size: 54px;
    font-weight: 700;
}
ul{
    display: flex;
    gap: 10px;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}
a:link, a:hover, a:visited, a:active{
    text-decoration: none;
    color: black;
}
img{
    width: 50px;
}