.container {
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shopContainer{
    border: blue 2px solid;
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding-top: 20px;
    flex: 1;
    flex-wrap: wrap;
}
.weaponCard{
    border: red 2px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    float: left;
    object-fit: cover;
}

.weaponCard > img {
    width: 150px;
    height: 150px;

}